
<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"> -->
  <!-- <h1> -->
    <!-- Welcome to {{ title }}! -->
  <!-- </h1> -->
   <!-- <ui-component></ui-component>  -->
  <!-- <app-header></app-header> -->
  <!-- <app-interpolation></app-interpolation> -->
  <!-- <app-propertybinding></app-propertybinding> -->
  <!-- <app-eventbinding></app-eventbinding> -->
  <!-- <app-twowaybinding></app-twowaybinding> -->
   <!-- <app-structuraldirective></app-structuraldirective> -->
    <app-textpredifindpipe></app-textpredifindpipe>  
   <!-- <employee-list></employee-list> -->

  <!-- <h1> -->
    <!-- Welcome to {{title}}! -->

  <!-- </h1> -->
  <!-- <suren-component></suren-component> -->
  
 

<!-- <router-outlet></router-outlet> -->
<!-- </div> -->
