<!-- <div *ngIf="showElement">show this content based on condition</div> -->
<!-- <div *ngIf="showElement2">hide this content based on condition</div> -->
<!-- <div [ngSwitch]="course"> -->
  <!-- <p *ngSwitchCase="'java'">java course selected</p> -->
  <!-- <p *ngSwitchCase="'angular'">angular course selected</p> -->
  <!-- <p *ngSwitchCase="'Phython'">Phython course selected</p> -->
  <!-- <p *ngSwitchDefault>invalid course</p> -->

<!-- </div>  -->
<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul>