
<h3>{{name | uppercase}}<br><hr>
  {{name | lowercase}}<br><hr>
   {{name | slice:'9':'14'}}<br><hr>
   {{mynumber| number:'3.2-2'}}<br><hr>
   {{mydate | date}}<br><hr>
   {{mydate | date:'shortDate'}}<br><hr>
   {{mydate | date:'mediumDate'}}<br><hr>
   {{mydate | date:'longDate'}}<br><hr>
   {{mydate | date:'MM/dd/yy'}}<br><hr>
   {{myprice | currency:'IND'}}<br><hr>
   {{myprice | currency:'USD'}}<br><hr>
   {{myprice | currency:'EUR'}}<br><hr>
   {{myprice | currency:'AUD'}}<br><hr>
    </h3>

